body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  padding:30px;
  background-color:rgb(47, 50, 60);
  color:white;
  font-weight:100;
}


h1 {
  margin-top:200px;
  font-weight:100;
  text-align:center;
  font-size:30px;

}
.b-text {
  color:rgb(142, 182, 241);
}
.r-text {
  color:rgb(150, 222, 161);

  /*color:rgb(236, 129, 129);*/
}
